name: Test Build Tools

on: [push, pull_request, workflow_dispatch]

env:
  LMOD_VERSION: 8.7.32

jobs:
  TestBuildTools:
    name: Test build-tools
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        python-version: [3.9, 3.11]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up environment
        run: |
          sudo apt-get update
          sudo apt-get install -y lua5.3 lua-bit32 lua-posix lua-posix-dev liblua5.3-0 liblua5.3-dev tcl tcl-dev tcl8.6 tcl8.6-dev libtcl8.6

      - name: Download and install Lmod
        run: |
          wget https://github.com/TACC/Lmod/archive/refs/tags/${{ env.LMOD_VERSION }}.tar.gz
          tar -xf ${{ env.LMOD_VERSION }}.tar.gz
          cd Lmod-${{ env.LMOD_VERSION }}
          ./configure --prefix=/opt/apps
          make install
          cd $GITHUB_WORKSPACE

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade PIP
        run: python -m pip install --upgrade pip

      - name: Install wheel
        run: python -m pip install wheel

      - name: Install pytest
        run: python -m pip install pytest

      - name: Install vsc-install
        run: python -m pip install vsc-install

      - name: Install build-tools
        run: python -m pip install .

      - name: Run tests
        run: |
          source /opt/apps/lmod/lmod/init/profile
          pytest
          export VSC_ARCH_LOCAL=skylake
          export VSC_ARCH_SUFFIX=-ib
          export VSC_OS_LOCAL=RL8
          submit_build.py --help
